<a href="https://colab.research.google.com/github/hemanthghk/assignment/blob/master/Assignment5(24_06_20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Program to convert binary to decimal.**

In [ ]:
def binaryToDecimal(n): 
    num = n; 
    dec_value = 0;  
    base = 1; 
    temp = num; 
    while(temp): 
        last_digit = temp % 10; 
        temp = int(temp / 10); 
        dec_value += last_digit * base; 
        base = base * 2; 
    return dec_value; 
num = 10101001; 
print(binaryToDecimal(num));

169

**2. Generate first n fibonacci numbers.**

In [ ]:
n= int(input("Enter the value of n: "))
n1, n2 = 0,1 
count=0
print("Fibonacci Sequence upto",n,"terms is: ")
while count<n:
    print(n1)
    nth=n1+n2
    n1=n2
    n2=nth
    count+=1

Enter the value of n: 5
Fibonacci Sequence upto 5 terms is:
0
1
1
2
3

**3. Display the multiplication table.**

In [ ]:
num=int(input("Enter a number to print the multiplication table: "))
print("Multiplication table:")
for i in range(1,11):
    print(num,"*",i,"=",num*i)

Enter a number to print the multiplication table: 3
Multiplication table:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

**4. GCD of two given numbers.**

In [ ]:
import math
n1= int(input("Enter number 1: "))
n2= int(input("Enter number 2: "))
print(math.gcd(n1,n2),"is the GCD of",n1,"and",n2)

Enter number 1: 60
Enter number 2: 48
12 is the GCD of 60 and 48